<div class="row mb-4 mt-5">

    <div class="col-md-4 mr-2 ml-5 mb-4">

        <app-task-form></app-task-form>

    </div>


    <div class="col-md-7 ml-5 ">

        <!-- <h2>Tarefas</h2> -->


        <!-- <button type="button" class="btn text-white bg-dark mb-2" [routerLink]="['/new']">

            Nova Tarefa

        </button> -->

        <section>

            <div *ngIf="tasks.length == 0" class="alert alert-warning" role="alert">

                Nemhuma tarefa foi cadastrada ainda

            </div>

            <ul class="list-group" *ngIf="tasks.length > 0">

                <li class="list-group-item" *ngFor="let task of tasks">

                    <app-task-list-item [task]="task" class="task-item"></app-task-list-item>

                </li>
            </ul>

        </section>
    </div>

</div>