<!-- header logo-->
<div>

    <div class="mt-5 mb-10">
        <div class="text-center">
            <img src="/assets/img/Logo-Adtime.png" alt="ADTIME" class="routelink" [routerLink]="['']" routerLinkActive="router-link-active">
        </div>
    </div>

</div>



<!-- viene del task list item component-->

<router-outlet></router-outlet>

<!-- footer-->
<div class="row">
    <div class="col-xl-4">

    </div>
    <div class="col-xl-5 mt-4">
        <footer class="text-center mb-12 mt-12">
            <strong>
                <p> 2020 - Criado por Keiny Rivas, Karen Gallardo, Robert Garabán; para TOTI BR </p>
            </strong>
        </footer>
    </div>
    <div class="col-xl-4">

    </div>
</div>