<div class="row">

    <div class="col-md-1">
    </div>

    <div class="col-md-10">

        <div class="text-center mb-4 mt-4">
            <img src="/assets/img/Logo-Adtime.png" height="100px" alt="ADTIME" class="routelink" [routerLink]="['']" routerLinkActive="router-link-active">
        </div>


        <div class="col-md-10">
            <main class="col-md-10">
                <router-outlet></router-outlet>
            </main>
        </div>


        <div class="col-md-10">
            <footer class="mt-2 p-2 text-center">
                <strong>
                <p> 2020 - criado por Keyni Rivas, Robert Garabán, Karen Gallardo; para TOTI BR </p>
                </strong>
            </footer>
        </div>

    </div>

</div>