<!-- header logo-->
<div class="row">
    <div class="col-xl-5">

    </div>
    <div class="col-xl-2 mt-4">
        <div>
            <img src="/assets/img/Logo-Adtime.png" height="100px" alt="ADTIME" class="routelink" [routerLink]="['']" routerLinkActive="router-link-active">
        </div>
    </div>
    <div class="col-xl-5">

    </div>
</div>



<!-- viene del task list item component-->

<router-outlet></router-outlet>

<!-- footer-->
<div class="row">
    <div class="col-xl-5">

    </div>
    <div class="col-xl-2 mt-4">
        <footer class="text-center mb-12 mt-12">
            <strong>
                <p> 2020 - criado por Keyni Rivas, Robert Garabán, Karen Gallardo; para TOTI BR </p>
            </strong>
        </footer>
    </div>
    <div class="col-xl-5">

    </div>
</div>